<!DOCTYPE html>
<html>
<title>Online Shop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
    body, html {
        height: 100%;
        font-family: "Inconsolata", sans-serif;
    }

    .bgimg {
        background-position: center;
        background-size: cover;
        background-image: url("images/about.jpg");
        min-height: 75%;
    }

    .menu {
        display: none;
    }
</style>
<body>

<!-- Links (sit on top) -->

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
        <span class="w3-tag">Open from 8am to 5pm</span>
    </div>
    <div class="w3-display-middle w3-center">
        <span class="w3-text-white" style="font-size:90px">The<br>SHOP</span>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large">
        <span class="w3-text-white">15 Adr street, 5015</span>
    </div>
</header>
{% include 'includes/navbar.twig'%}
<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

    <!-- About Container -->
    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE SHOP</span></h5>
            <p> lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>In addition to our full espresso and brew bar menu, we serve fresh made-to-order breakfast and lunch sandwiches, as well as a selection of sides and salads and other good stuff.</p>
            <div class="w3-panel w3-leftbar w3-light-grey">
                <p><i>"lorem ipsum dolor sit amet, consectetur adipiscing elit,".</i></p>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>
            <img src="images/laptop3.png" style="width:100%;max-width:1000px" class="w3-margin-top">
            <p><strong>Opening hours:</strong> everyday from 8am to 5pm.</p>
            <p><strong>Address:</strong> 15 Sejdi Kreziu, Prishine</p>
        </div>
    </div>

    <!-- Menu Container -->
    <div class="w3-container" id="menu">
        <div class="w3-content" style="max-width:700px">

            <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">PRODUCTS YOU MA FIND AT US</span></h5>

            <div class="w3-row w3-center w3-card w3-padding">
                <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
                    <div class="w3-col s6 tablink">PCs and LAPTOPS</div>
                </a>
                <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
                    <div class="w3-col s6 tablink">PRINTERS</div>
                </a>
            </div>

            <div id="Eat" class="w3-container menu w3-padding-48 w3-card">
                <h5>lorem ipsum dolor sit amet</h5>
                <p class="w3-text-grey">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore m</p><br>

                <h5>lorem ipsum dolor sit amet</h5>
                <p class="w3-text-grey">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore m</p><br>

                <h5>lorem ipsum dolor sit amet</h5>
                <p class="w3-text-grey">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore m</p><br>

                <h5>lorem ipsum dolor sit amet</h5>
                <p class="w3-text-grey">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore m</p><br>

                <h5>lorem ipsum dolor sit amet</h5>
                <p class="w3-text-grey">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore m</p>
            </div>

            <div id="Drinks" class="w3-container menu w3-padding-48 w3-card">
                <h5>smth random</h5>
                <p class="w3-text-grey">consectetur adipiscing elit, sed do eiusmod tempor </p><br>

                <h5>ramdon text</h5>
                <p class="w3-text-grey">consectetur adipiscing elit, sed do eiusmod tempor </p><br>

                <h5>dummy dummyy</h5>
                <p class="w3-text-grey">consectetur adipiscing elit, sed do eiusmod tempor /p><br>

                <h5>random text</h5>
                <p class="w3-text-grey">consectetur adipiscing elit, sed do eiusmod tempor </p><br>

                <h5>randomrandom</h5>
                <p class="w3-text-grey">consectetur adipiscing elit, sed do eiusmod tempor </p>
            </div>
            <img src="/w3images/coffeehouse2.jpg" style="width:100%;max-width:1000px;margin-top:32px;">
        </div>
    </div>

    <!-- Contact/Area Container -->
    <div class="w3-container" id="where" style="padding-bottom:32px;">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">WHERE TO FIND US</span></h5>
            <p>Find us at some address at some place.</p>
            <img src="images/3.jpg" class="w3-image" style="width:100%">
            <br><br>
            <p><span class="w3-tag">FYI!</span> Wonsectetur adipiscing elit, sed do eiusmod temporall. onsectetur adipiscing elit, sed do eiusmod tempor:</p>

        </div>
    </div>

    <!-- End page content -->
</div>

<!-- Footer -->


<script>
    // Tabbed Menu
    function openMenu(evt, menuName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("menu");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
        }
        document.getElementById(menuName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-dark-grey";
    }
    document.getElementById("myLink").click();
</script>

</body>
</html>
