{% include 'includes/navbar.twig'%}




</head>
<div class="Line" style ="height:10px; background:darkred"></div>
<div class="site-overlay"></div>

<header id="home">
    <div class="container-fluid">
        <!-- change the image in style.css to the class header .container-fluid [approximately row 50] -->
        <div class="container">

            <div class="jumbotron">
                <div class="col-md-4"> <h1 class="text:center"><small>About our</small></br>
                        <strong>shop</strong></h1></div>
                <p>Duis aute irure dolor in reprehender
                    it in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <p><a class="btn btn-primary btn-lg" role="button" href="{{ path_for('home')}}"> home</a>
                    <a target="_blank" href="{{ path_for('about')}}"
                       class="btn btn-lg btn-danger" role="button"> Products</a></p>
            </div>
        </div>
    </div>
</header>
<br><br>
<section id="feat">
    <div class="container">
        <div class="row features">
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="100ms">
                <span class="typcn typcn-notes-outline x3"></span>
                <h4 style="color:red">Lorem ipsum dolor sit amet</h4>
                <p style="color:darkred">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla
                    mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender
                    it in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="300ms">
                <span class="typcn v typcn-media-pause-outline x3"></span>
                <h4 style="color:red">Lorem ipsum dolor sit amet</h4>

                <p style="color:darkred">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla
                    mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender
                    it in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms">
                <span class="typcn typcn-microphone-outline x3"></span>
                <h4 style="color:red">Lorem ipsum dolor sit amet</h4>

                <p style="color:darkred">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla
                    mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender
                    it in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>
<br><br><br>

<section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla
                    mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender
                    it in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender
                    it in voluptate velit esse cillum dolore eu fugiat </p>
                <a class="btn btn-danger btn-lg" href="{{ path_for('products')}}">Take a Look <i class="fa fa-arrow-circle-o-right"></i> </a>
            </div>

            <div class="col-md-5">
                <a href="#">
                    <img src="Images/laptop2.jpg" alt="" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Container (About Section) -->
<section class="wrapper style5">
    <div class="col-md-2"></div>
    <div class="inner col-md-8" id="about">

        <h3 class="description">The history of out shop</h3>
        <p class="FieldInfo"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla
            mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender
            it in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla
            mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender
            it in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p class="FieldInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla
            mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender
            it in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>						</p>

        <hr />

        <h4 class="description">Our shop today</h4>
        <p class="FieldInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore .			</p>

        <p class="FieldInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla
            mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender
            it in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore e!</small></p>

    </div>
</section>
<div class="col-md-2"></div>
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <br><br><br>
                <p>© 2019 Designed and Developed by <a target="_blank" href="#">Kaltrina and Irfan</a></p>
            </div>
            <div class="col-md-4">
                <!-- <p class="text-right social"><i class="typcn typcn-social-facebook-circular"></i><i class="typcn typcn-social-twitter-circular"></i><i class="typcn typcn-social-tumbler-circular"></i><i class="typcn typcn-social-github-circular"></i><i class="typcn typcn-social-dribbble-circular"></i></p>-->
            </div>
        </div>
    </div>
</footer>

