{% include 'includes/navbar.twig'%}




</head>
<div class="Line" style ="height:10px; background:darkred"></div>
<div class="site-overlay"></div>

<header id="home">
    <div class="container-fluid">
        <!-- change the image in style.css to the class header .container-fluid [approximately row 50] -->
        <div class="container">

            <div class="jumbotron">
               <div class="col-md-4"> <h1 class="text:center"><small>Welcome to </small></br>
                       <strong>our site</strong></h1></div>
                <p>This is our online shop where you can find computers,laptops and printers and buy them online. Have a great day :)
                </p>
                <p><a class="btn btn-primary btn-lg" role="button" href="{{ path_for('about')}}">Learn more</a>
                    <a target="_blank" href="{{ path_for('products')}}"
                       class="btn btn-lg btn-danger" role="button"> Products</a></p>
            </div>
        </div>
    </div>
</header>
<section id="feat">
    <div class="container">
        <div class="row features">
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="100ms">
                <span class="typcn typcn-notes-outline x3"></span>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    <img src="images/1.jpg">

                   </p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="300ms">
                <span class="typcn v typcn-media-pause-outline x3"></span>
                <h4>Lorem ipsum dolor sit amet</h4>
                <img src="images/drucker2.jpg" width="355" height="286">
            </div>
                <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms">
                <span class="typcn typcn-microphone-outline x3"></span>
                <h4>Lorem ipsum dolor sit amet</h4>
                    <img src="images/bildschirm2.jpg " width="355" height="286">

            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                     <br><br><br>
                <p>© 2019 Designed and Developed by <a target="_blank" href="#">Kaltrina and Irfan</a></p>
            </div>
            <div class="col-md-4">
                <!-- <p class="text-right social"><i class="typcn typcn-social-facebook-circular"></i><i class="typcn typcn-social-twitter-circular"></i><i class="typcn typcn-social-tumbler-circular"></i><i class="typcn typcn-social-github-circular"></i><i class="typcn typcn-social-dribbble-circular"></i></p>-->
            </div>
        </div>
    </div>
</footer>

