<!DOCTYPE html>
<html>
<head>
    <style>

        .1 {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #fff;
            font-family: "Raleway", sans-serif;
        }

        .2 {
            float: left;
            font-family: "Raleway", sans-serif;
            color: #fff;
        }

        .3 {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: "Raleway", sans-serif;

        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }


    </style>
</head>
<body>

<ul class="1 2 3"">


    <li ><a href="">Computers</p></a></li>
    <li ><a  href="">Laptops</a></li>
    <li ><a  href="">Printers</a></li>
</ul>

</body>
</html>